:root {
    --header-font: "Barlow Condensed", Arial, sans-serif;
    --header-font-size: 100px;
    --subheader-font-size: 60px;
    --subheader3-font-size: 40px;
    --body-font: "Montserrat", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: var(--header-font);
    margin: 0;
}

h1 {
    font-size: var(--header-font-size);

}

h2 {
    font-size: var(--subheader-font-size);
    margin: 0;
    padding: 0;
}

h3 {
    font-size: var(--subheader3-font-size);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p, button, .contact-form {
    font-family: var(--body-font);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #000;
    color: #fff;
}

a:visited {
    color: #7F9F80;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0 5vw 0 5vw;
    margin: 0;
    align-items: center;

}

form {
    display: inline-block;
}

input, textarea {
    width: 100%;
}

button, input[type="submit"] {
    background-color: #000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 10px 0;
    transition-duration: 0.4s;
}

button:hover, input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}
