:root {
    --header-font: "Barlow Condensed", Arial, sans-serif;
    --body-font: "Montserrat", Arial, sans-serif;
}

body {
    font-family: var(--header-font);
}

h1 {
    font-size: 100px;
}

p, button, .contact-form {
    font-family: var(--body-font);
}

nav {
    position: fixed;
    width: 100%;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
}

aside, #about-me-head, #profile-img {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#hero, #about, .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

legend {
    text-align: center;
}

label {
    text-align: end;
}
