:root {
    --header-font: "Barlow Condensed", Arial, sans-serif;
    --header-font-size: 100px;
    --subheader-font-size: 60px;
    --body-font: "Montserrat", Arial, sans-serif;
}

body {
    font-family: var(--header-font);
    margin: 0;
}

h1 {
    font-size: var(--header-font-size);
}

h2 {
    font-size: var(--subheader-font-size);
}

p, button, .contact-form {
    font-family: var(--body-font);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-auto-rows: minmax(100px, auto);
}






